

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>ilabtwitter</h1>
            <h3>Free Bootstrap Themes &amp; Templates</h3>
            <br>
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-lg btn-dark' %>
            
        </div>
    </header>